#inputCardNumber {
  width: 16em;
}

.container {
  text-align: right;
}

#inputPassword {
  width: 12em;
}

#inputCVV {
  width: 4em;
}

#inputDate {
  width: 4em;
  margin: 5px;
}

#inputEmail {
  width: 30em;
}

button {
  margin-right: 500px;
}

.form-group {
  text-align: right;
}

::placeholder {
  text-align: center;
}
